<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="untitled" parallel="true" thread-count="">
    <test name="HomeTest">
<parameter name="deviceName" value="mrigemulator"/>
        <parameter name="platformVersion" value="11"/>
        <classes>
            <class name="tests.GeneralStoreTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
